<div class="container-about-me">
    <div class="container-about-me-internal">

        <h3>Sobre Mi</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt voluptate debitis architecto reprehenderit mollitia deserunt laboriosam, ab corrupti aliquid, ipsa eaque officiis at quis praesentium earum dolore nisi itaque! Asperiores dolorum praesentium commodi? Possimus fuga quisquam earum voluptate nulla accusantium amet rem officia eligendi corrupti nesciunt error neque, enim excepturi veritatis doloribus. At dolores doloribus nemo exercitationem vero et voluptates temporibus voluptatem illo voluptas aliquid neque, ipsam pariatur tenetur similique dicta, aliquam rerum? Debitis consequuntur, aspernatur assumenda amet ab laboriosam necessitatibus velit doloremque iusto nobis doloribus provident officia sequi est reiciendis odio a incidunt quas repellendus. Quasi, facere doloremque?</p>

    </div>
</div>