@mixin button-styles{
    .mat-mdc-outlined-button.mat-mdc-button-disabled {
        cursor: default;
        color: rgba(200, 230, 215, 1) !important;
        background: rgba(20, 140, 80, 0.3) !important;
    }
}