@mixin tooltip-styles{
    .mat-mdc-tooltip{
        --mdc-plain-tooltip-supporting-text-color: #fafafa;
        --mdc-plain-tooltip-container-color: #2d8448;
        --mdc-plain-tooltip-container-shape: 20px;
        --mdc-plain-tooltip-supporting-text-size: 0.80rem;
        --mdc-plain-tooltip-supporting-text-weight: 600;
    }
}
