<div class="container-achievements">
    <div class="container-achievements-internal">

        <h3>LOGROS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque reprehenderit voluptatum laborum laudantium. Sapiente ab harum minima nam velit ut, at earum inventore! Repudiandae, pariatur nemo! Accusamus amet sint odio nobis cupiditate consequatur, cumque magnam dolor odit? Laboriosam, sit perferendis! Illum accusantium tempora ut, harum in qui ab ex?</p>

        <div class="achievements-card">
            <div class="div1 card">
                <img src="icons/logroUno.jpg" alt="">
                <p>01 de Enero del 2024</p>
                <button>Ver Certificado</button>
                <h5>Como trabajar mejor, usando la filosofía agíl</h5>
            </div>

            <div class="div1 card">
                <img src="icons/logroUno.jpg" alt="">
                <p>10 de Febrero del 2024</p>
                <button>Ver Certificado</button>
                <h5>Como trabajar mejor, usando la filosofía agíl</h5>
            </div>

            <div class="div1 card">
                <img src="icons/logroUno.jpg" alt="">
                <p>10 de Febrero del 2024</p>
                <button>Ver Certificado</button>
                <h5>Como trabajar mejor, usando la filosofía agíl</h5>
            </div>

        </div>

    </div>
</div>