<div class="container-achievements">
    <div class="container-achievements-internal">

        <h3>LOGROS</h3>
        <p>Cada desafió superado y cada meta alcanzada representa mi evolución como desarrollador. Mis logors reflejan mi pasión por la tecnología, el aprendizaje continuo y la capacidad de transformar problemas en soluciones innovadoras.</p>

        <div class="achievements-card">
            <div class="div1 card">
                <img src="icons/logroUno.jpg" alt="">
                <p>01 de Enero del 2024</p>
                <button>Ver Certificado</button>
                <h5>Como trabajar mejor, usando la filosofía agíl</h5>
            </div>

            <div class="div1 card">
                <img src="icons/logroUno.jpg" alt="">
                <p>10 de Febrero del 2024</p>
                <button>Ver Certificado</button>
                <h5>Como trabajar mejor, usando la filosofía agíl</h5>
            </div>

            <div class="div1 card">
                <img src="icons/logroUno.jpg" alt="">
                <p>10 de Febrero del 2024</p>
                <button>Ver Certificado</button>
                <h5>Como trabajar mejor, usando la filosofía agíl</h5>
            </div>

        </div>

    </div>
</div>