<div class="container-tecnology">
    <div class="container-tecnology-internal">

        <h3>TECNOLOGÍAS</h3>
        <p>En mi viaje por el mundo del desarrollo de Software, he cultivado experiencia y habilidades en una variedad de tecnologías. Mi stack tecnológico incluye</p>

        <div class="tecnology-card">
            <div class="div1">
                <div class="title">Frontend</div>
                <div class="icons">
                    <div class="img1"><img src="icons/html5.svg" alt=""><span>HTML</span></div>
                    <div class="img1"><img src="icons/css_old.svg" alt=""><span>CSS</span></div>
                    <div class="img1"><img src="icons/sass.svg" alt=""><span>SASS</span></div>
                    <div class="img1"><img src="icons/angular.svg" alt=""><span>ANGULAR</span></div>
                    <div class="img1"><img src="icons/angular.svg" alt=""><span>ANGULAR MATERIAL</span></div>
                </div>
            </div>
            <div class="div2">
                <div class="title">Backend</div>
                <div class="icons">
                    <div class="img1"><img src="icons/springTwo.svg" alt=""><span>SPRING BOOT</span></div>
                    <div class="img1"><img src="icons/java.svg" alt=""><span>JAVA</span></div>
                    <div class="img1"><img src="icons/postgresql.svg" alt=""><span>POSTGRESQL</span></div>
                </div>
            </div>
            <div class="div3">
                <div class="title">Herramientas</div>
                <div class="icons">
                    <div class="img1"><img src="icons/git.svg" alt=""><span>GIT</span></div>
                    <div class="img1"><img src="icons/github-dark.svg" alt=""><span>GITHUB</span></div>
                    <div class="img1"><img src="icons/postman.svg" alt=""><span>POSTMAN</span></div>
                </div>
            </div>
        </div>

    </div>
</div>
