<div class="container-tecnology">
    <div class="container-tecnology-internal">

        <div><h3>Tecnologías</h3></div>
        <div><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, eveniet unde quidem veniam blanditiis distinctio quisquam accusantium vero ea quos, perferendis recusandae rerum temporibus ipsam. Deleniti inventore et assumenda, ullam, libero facilis nihil ducimus omnis vel alias hic dolorem sit non ipsam tempore. A porro quia cum possimus velit animi.</p></div>

        <div class="tecnology-card">
            <div class="div1">
                <div class="title">Frontend</div>
                <div class="icons">
                    <div class="img1"><img src="icons/html5.svg" alt=""><span>HTML</span></div>
                    <div class="img1"><img src="icons/css_old.svg" alt=""><span>CSS</span></div>
                    <div class="img1"><img src="icons/sass.svg" alt=""><span>SASS</span></div>
                    <div class="img1"><img src="icons/angular.svg" alt=""><span>ANGULAR</span></div>
                    <div class="img1"><img src="icons/angular.svg" alt=""><span>ANGULAR MATERIAL</span></div>
                </div>
            </div>
            <div class="div2">
                <div class="title">Backend</div>
                <div class="icons">
                    <div class="img1"><img src="icons/springTwo.svg" alt=""><span>SPRING BOOT</span></div>
                    <div class="img1"><img src="icons/java.svg" alt=""><span>JAVA</span></div>
                    <div class="img1"><img src="icons/postgresql.svg" alt=""><span>POSTGRESQL</span></div>
                </div>
            </div>
            <div class="div3">
                <div class="title">Herramientas</div>
                <div class="icons">
                    <div class="img1"><img src="icons/git.svg" alt=""><span>GIT</span></div>
                    <div class="img1"><img src="icons/github-dark.svg" alt=""><span>GITHUB</span></div>
                    <div class="img1"><img src="icons/postman.svg" alt=""><span>POSTMAN</span></div>
                </div>
            </div>
        </div>

    </div>
</div>
