.container-tecnology{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tecnology-internal{
    width: 100%;
    max-width: 600px;
}

.tecnology-card{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 330px 330px;
    gap: 20px;
}

.div1, .div2, .div3{
    border: 2px solid #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
    border-radius: 20px;
    padding: 20px;
    background: #fafafa10;
    z-index: -1;

}

.icons{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 90px 90px;
    justify-content: space-between;
    gap: 20px;
}

.img1{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #fafafa10;
    padding-bottom: 5px;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}

span{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

h3{
    font-size: 27px;
}

h4{
    font-size: 23px;
}

p{
    line-height: 26px;
}

img{
    width: 50px;
    height: 50px;
}

//RESPONSIVE
@media (max-width: 730px){
    .tecnology-card{
        grid-template-columns: minmax(100px, 2fr);
        grid-template-rows: auto;
    }

    .div1{
        height: auto;
    }

    .icons{
        grid-template-columns: minmax(1fr, 1fr);  
    }
}

@media (max-width: 315px){
    .icons{
        grid-template-columns: minmax(100px, 2fr);  
    }
}

@media (max-width: 700px){
    .container-tecnology{
        padding: 0 10px;
    }
}