.container-tecnology{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tecnology-internal{
    width: 100%;
    max-width: 600px;
}

.tecnology-card{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 330px 330px;
    gap: 20px;
}

.div1, .div2, .div3{
    border-radius: 20px;
    padding: 20px;
    background: rgba(15, 40, 30, 1);
    -webkit-box-shadow: 2px 7px 85px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 85px -17px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 85px -17px rgba(0,0,0,0.75);
}

.icons{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 90px 90px;
    justify-content: space-between;
    gap: 20px;
}

.img1{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.title{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(50, 255, 150, 1);
    padding-bottom: 5px;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgba(50, 255, 150, 1);
}

span{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: rgba(226, 232, 240, 1);
}

h3{
    font-size: 27px;
    color: #5b7f95;
}

h4{
    font-size: 23px;
}

p{
    line-height: 26px;
    color: #e5e8f0;
}

img{
    width: 50px;
    height: 50px;
}

//RESPONSIVE
@media (max-width: 730px){
    .tecnology-card{
        grid-template-columns: minmax(100px, 2fr);
        grid-template-rows: auto;
    }

    .div1{
        height: auto;
    }

    .icons{
        grid-template-columns: minmax(1fr, 1fr);  
    }
}

@media (max-width: 315px){
    .icons{
        grid-template-columns: minmax(100px, 2fr);  
    }
}

@media (max-width: 700px){
    .container-tecnology{
        padding: 0 10px;
    }
}