<mat-toolbar>

    <span>Beymar</span>

    <span class="example-spacer"></span>

    @if (isMovile()){
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    }
    @else {
        <a (click)="navigateTo('presentation')" mat-button>Inicio</a>
        <a (click)="navigateTo('tecnology')" mat-button>Tecnologías</a>
        <a (click)="navigateTo('proyects')" mat-button>Proyectos</a>
        <a (click)="navigateTo('achievements')" mat-button>Logros</a>
        <a (click)="navigateTo('aboutMe')" mat-button>Sobre Mi</a>
    }

</mat-toolbar>

@defer {
    <mat-sidenav-container>
        <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="over">
            <div><a (click)="navigateTo('presentation')">Inicio</a></div>
            <div><a (click)="navigateTo('tecnology')">Tecnologías</a></div>
            <div><a (click)="navigateTo('proyects')">Proyectos</a></div>
            <div><a (click)="navigateTo('achievements')">Logros</a></div>
            <div><a (click)="navigateTo('aboutMe')">Sobre Mi</a></div>
        </mat-sidenav>
    </mat-sidenav-container>
}