.example-spacer{
    flex: 1 1 auto;
}

mat-sidenav{
    div{
        margin: 20px 0 0 0;
    }
}

span{
    color: rgba(200, 230, 215, 1);
    font-weight: 500;
    font-size: 28px;
}

a{
    color: rgba(200, 230, 215, 1);
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

mat-toolbar, mat-sidenav{
    background: none;
    z-index: 1;
}

mat-sidenav{
    width: 100%;
    padding-left: 100px;
}

mat-toolbar{
    padding: 0 100px;
    height: 60px;
}

mat-sidenav-container{
    width: auto;
}

//RESPONSIVE
@media (max-width: 768px){
    mat-toolbar{
        padding: 0 0;
    }

    mat-sidenav{
        padding-left: 0;
        width: 200px;
    }
}