.right-section{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

mat-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa10;
    border-bottom: 2px solid #fafafa10;
    position: fixed;
    backdrop-filter: blur(0.4rem);
}

mat-sidenav{
    div{
        margin: 20px 0 0 0;
    }
}

span{
    color: rgba(200, 230, 215, 1);
    font-weight: 500;
    font-size: 28px;
}

a{
    color: rgba(200, 230, 215, 1);
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

mat-toolbar, mat-sidenav{
    background: none;
    z-index: 1;
}

mat-sidenav{
    width: 100%;
    padding-left: 100px;
}

mat-toolbar{
    padding: 0 100px;
    height: 60px;
}

mat-sidenav-container{
    width: auto;
}

mat-icon{
    color: rgba(226, 232, 240, 1);
    cursor: pointer;
}

//RESPONSIVE
@media (max-width: 768px){
    mat-toolbar{
        padding: 0 0;
    }

    mat-sidenav{
        padding-left: 0;
        width: 200px;
    }
}