<mat-toolbar>

    <div class="left-section">
        <span>Beymar</span>
    </div>

    <div class="center-section">
        @if (isMovile()){
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        }
        @else {
            <a (click)="navigateTo('presentation')">INICIO</a>
            <a (click)="navigateTo('experiencie')">EXPERIENCIA</a>
            <a (click)="navigateTo('tecnology')">TECNOLOGÍAS</a>
            <a (click)="navigateTo('proyects')">PROYECTOS</a>
            <a (click)="navigateTo('achievements')">LOGROS</a>
            <a (click)="navigateTo('aboutMe')">SOBRE MI</a>
        }
    </div>

    @if (!isMovile()){
        <div class="right-section">
            <mat-icon>code</mat-icon>
            <mat-icon>person</mat-icon>
            <mat-icon>start</mat-icon>
        </div>
    }



</mat-toolbar>

@defer {
    <mat-sidenav-container>
        <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="over">

            <div class="menu">
                <div><a (click)="navigateTo('presentation')">INICIO</a></div>
                <div><a (click)="navigateTo('experiencie')">EXPERIENCIA</a></div>
                <div><a (click)="navigateTo('tecnology')">TECNOLOGÍAS</a></div>
                <div><a (click)="navigateTo('proyects')">PROYECTOS</a></div>
                <div><a (click)="navigateTo('achievements')">LOGROS</a></div>
                <div><a (click)="navigateTo('aboutMe')">SOBRE MI</a></div>
            </div>

            <div class="icons">
                <mat-icon>code</mat-icon>
                <mat-icon>person</mat-icon>
                <mat-icon>start</mat-icon>
            </div>

        </mat-sidenav>
    </mat-sidenav-container>
}