<div class="container">
    
    <app-sidebar (sectionSelected)="srollToSection($event)"></app-sidebar>

    <!-- PRESENTACION -->
    <div class="app-presentation">
        <app-presentation />
    </div>

    <!-- TECNOLOGIA -->
    <div #tecnology class="app-tecnology">
        <app-tecnology />
    </div>

    <!-- PROYECTOS -->
    <div #proyects class="app-proyects">
        <app-proyects />
    </div>

    <!-- LOGROS -->
    <div #achievements class="app-achievements">
        <app-achievements />
    </div>

    <!-- SOBRE MI -->
    <div #aboutMe class="app-about-me">
        <app-about-me />
    </div>

</div>