.container-proyect{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.container-proyect-internal{
    width: 100%;
    max-width: 600px;
}

.proyects-card{
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    gap: 20px;
}

.card{
    border-radius: 20px;
    padding: 20px;
    background: rgba(15, 40, 30, 1);

    .title{
        font-size: 18px;
        font-weight: 600;
        color: rgba(50, 255, 150, 1);;
    }

    .subtitle{
        font-size: 15px;
    }
}

.lenguages{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.img{
    position: relative;
    width: 100%;
    height: auto;
}

.type-proyect{
    position: absolute;
    top: 5px;
    left: 5px;

    button{
        background: #47556980;
        border-radius: 20px;
        color: rgba(226, 232, 240, 1);
        border: none;
        padding: 10px 15px;
        font-family: "Onest", sans-serif;
        font-weight: bold;
    }

}

.display-proyect{
    position: absolute;
    right: 5px;
    top: 5px;
}

img{
    width: 100%;
    border-radius: 20px;
}

h3{
    font-size: 27px;
    color: rgba(50, 255, 150, 1);
}

p{
    line-height: 26px;
    color: rgba(226, 232, 240, 1);
}

@media (max-width: 700px){
    .container-proyect{
        padding: 0 10px;
    }
}