<div class="container-proyect">
    <div class="container-proyect-internal">
        <div><h3>Proyectos</h3></div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequatur enim quae. Corporis totam, obcaecati, provident nam aut libero quia, laudantium quos officia enim modi inventore! Minus laudantium reiciendis ea incidunt totam ad! Quia vel tempore blanditiis quidem. Tenetur, exercitationem? Sequi labore sapiente veritatis dolores ullam voluptatem quas, pariatur vel?</p>
        </div>
    </div>
</div>
