<div class="container-proyect">
    <div class="container-proyect-internal">
        
        <h3>Proyectos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci hic, saepe quasi dolore repudiandae repellendus sapiente quis voluptatibus, debitis exercitationem fuga reprehenderit deserunt laudantium. Sunt dignissimos laudantium totam beatae blanditiis qui dolor quod doloremque laboriosam, consequuntur quia, veniam repudiandae repellat magnam, magni reiciendis asperiores. Incidunt provident commodi fuga praesentium quibusdam?</p>

        <div class="proyects-card">
            <div class="div1 card">
                <div class="img">
                    <img src="icons/proyecto.png" alt="">
                    <div class="type-proyect"><button mat-stroked-button disabled>FullStack</button></div>
                </div>
                <p class="title">SISTEMA DE GESTIÓN DE PEDIDOS Y CONTROL DE STOCK</p>
                <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui omnis quos nulla libero ut nam cumque voluptas aliquam, praesentium sunt, totam culpa esse, earum sequi?</p>
                <div class="lenguages">
                    <button mat-stroked-button disabled>Angular</button>
                    <button mat-stroked-button disabled>Angular Material</button>
                    <button mat-stroked-button disabled>HTML</button>
                    <button mat-stroked-button disabled>CSS</button>
                    <button mat-stroked-button disabled>Spring Boot</button>
                    <button mat-stroked-button disabled>Spring Security</button>
                    <button mat-stroked-button disabled>JWT</button>
                    <button mat-stroked-button disabled>PostgreSQL</button>
                </div>
            </div>

            <div class="div1 card">
                <div class="img">
                    <img src="icons/proyecto.png" alt="">
                    <div class="type-proyect"><button mat-stroked-button disabled>FullStack</button></div>
                    <div class="display-proyect"><button mat-fab (click)="abrirModal()"><mat-icon>visibility</mat-icon></button></div>
                </div>
                <p class="title">SISTEMA DE GESTIÓN DE PEDIDOS Y CONTROL DE STOCK</p>
                <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui omnis quos nulla libero ut nam cumque voluptas aliquam, praesentium sunt, totam culpa esse, earum sequi?</p>
                <div class="lenguages">
                    <button mat-stroked-button disabled>Angular</button>
                    <button mat-stroked-button disabled>Angular Material</button>
                    <button mat-stroked-button disabled>HTML</button>
                    <button mat-stroked-button disabled>CSS</button>
                    <button mat-stroked-button disabled>Spring Boot</button>
                    <button mat-stroked-button disabled>Spring Security</button>
                    <button mat-stroked-button disabled>JWT</button>
                    <button mat-stroked-button disabled>PostgreSQL</button>
                </div>
            </div>

            <div class="div1 card">
                <div class="img">
                    <img src="icons/proyecto.png" alt="">
                    <div class="type-proyect"><button mat-stroked-button disabled>FullStack</button></div>
                </div>
                <p class="title">SISTEMA DE GESTIÓN DE PEDIDOS Y CONTROL DE STOCK</p>
                <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui omnis quos nulla libero ut nam cumque voluptas aliquam, praesentium sunt, totam culpa esse, earum sequi?</p>
                <div class="lenguages">
                    <button mat-stroked-button disabled>Angular</button>
                    <button mat-stroked-button disabled>Angular Material</button>
                    <button mat-stroked-button disabled>HTML</button>
                    <button mat-stroked-button disabled>CSS</button>
                    <button mat-stroked-button disabled>Spring Boot</button>
                    <button mat-stroked-button disabled>Spring Security</button>
                    <button mat-stroked-button disabled>JWT</button>
                    <button mat-stroked-button disabled>PostgreSQL</button>
                </div>
            </div>
        </div>

    </div>
</div>
