@use '@angular/material' as mat;
@use 'app/styles_theme-colors.scss' as mut;

@include mat.core();

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: mut.$secundary-palette,
      tertiary: mut.$tertiary-palette,
      theme-type: dark,
    ),
    typography: Montserrat,
    density: 0
  ));
}

html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body{
  margin: 0;
  padding: 0 200px;
  box-sizing: border-box;
}