<mat-dialog-content>
    <div class="container-item-one">
        <img src="icons/proyecto.png" alt="">

        <div>
            <p class="title">Sistema Web de Gestion de Pedidos y Control de Stock</p>
            <div>
                <span><mat-icon>menu</mat-icon>2024 - 2025</span>
                <span><mat-icon>menu</mat-icon>FullStack</span>
                <span><mat-icon>menu</mat-icon>Angular, Spring Boot, PostgreSQL</span>
            </div>
            <a href="">Ir al Sitio Web</a>
        </div>
    </div>

    <div class="container-item-two">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate commodi molestias sed laboriosam corrupti repellat expedita. Sit nam non quibusdam dolores. Sed, quos. Ut mollitia tempore placeat adipisci. Voluptatibus beatae harum quidem, doloremque labore earum nostrum quae animi omnis similique temporibus nihil. Veniam qui esse dignissimos amet, rem consectetur sunt. Natus ad quam illum deserunt et voluptates autem adipisci sequi aspernatur explicabo optio dolore accusamus repellendus deleniti eos in necessitatibus, quia at iste! Corrupti, sunt. Necessitatibus voluptatem id suscipit voluptates! Iusto, sed aspernatur. Suscipit aliquid neque vero labore, soluta corrupti ea quidem minus natus odit voluptatibus quis libero id quos?</p>
    </div>

    <div class="container-item-three">
        <h4>Funcionalidades</h4>

        <div>
            <p>
                <mat-icon>menu</mat-icon>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maiores sequi dolore iure perspiciatis nam numquam et earum harum perferendis, sit provident aliquam ipsam cupiditate vel voluptates repudiandae? Voluptatem illo consequuntur culpa saepe laudantium, corporis veritatis vero, deserunt iste modi, doloremque pariatur ipsum hic ratione laborum ut alias? Iusto, itaque!
            </p>

            <p>
                <mat-icon>menu</mat-icon>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maiores sequi dolore iure perspiciatis nam numquam et earum harum perferendis, sit provident aliquam ipsam cupiditate vel voluptates repudiandae? Voluptatem illo consequuntur culpa saepe laudantium, corporis veritatis vero, deserunt iste modi, doloremque pariatur ipsum hic ratione laborum ut alias? Iusto, itaque!
            </p>

            <p>
                <mat-icon>menu</mat-icon>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maiores sequi dolore iure perspiciatis nam numquam et earum harum perferendis, sit provident aliquam ipsam cupiditate vel voluptates repudiandae? Voluptatem illo consequuntur culpa saepe laudantium, corporis veritatis vero, deserunt iste modi, doloremque pariatur ipsum hic ratione laborum ut alias? Iusto, itaque!
            </p>
        </div>
    </div>

    <div class="container-item-four">
        <h4>Vista Previa</h4>

        <div class="card-imgs">
            <img src="icons/proyecto.png" alt="">
            <img src="icons/proyecto.png" alt="">
            <img src="icons/proyecto.png" alt="">
        </div>

    </div>

</mat-dialog-content>
