.container-app-presentation{
    display: grid;
    height: 580px;
    justify-content: center;
    align-items: center;
}

.sp1, .sp2{
    color: var(--mat-sys-on-primary-container);
}

.parent{
    width: 600px;
}

.div1{
    h1{
        font-size: 60px;
        color: rgba(200, 230, 215, 1);
    }
}

.div2{
    font-size: 25px;
    font-weight: 600;
    color: rgba(50, 255, 150, 1);
}

.div3{
    margin-top: 50px;
    font-size: 20px;
    
    p{
        color: #e5e8f0;
    }
}

.sp2{

    font-weight: 700;
}

p{
    color: #fafafa;
}

img{
    width: 25px;
    height: 25px;
}

button{
    z-index: -1;
}

//RESPONSIVE
@media (max-width: 600px){
    .parent{
        width: 100%;
    }

    .div1{
        h1{
            font-size: 40px;
            text-align: center;
        }
    }

    .div2{
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .div3{
        font-size: 15px;
        
        p{
            text-align: center;
        }
    }

    .div4{
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
        gap: 5px;

        .btn-mvl{
            color: #fafafa;
        }
    }

    img{
        width: 20px;
        height: 20px;
    }
}